svg {
    justify-content: center;
    display: flex;
    width: 10%;
    height: 10%;   
    align-content: center;
}
#navbarDropdown:hover {
    
    font-style: italic;
    color: #000 !important;
}